body {
  font-family: "Raleway", sans-serif;
}

p {
  margin: 0.75rem 0 2rem 0;
  padding: 0 1rem;
  text-align: center;
  font-size: 4rem;
  line-height: 1.5rem;
}

button,
input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: 4px solid rgba(255, 255, 255, 0.75);
  border-radius: 5px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.header {
  grid-row: span 2;
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: lightgrey;
}

.header :is(h1, h2) {
  margin: 0 0 1rem 0;
  text-align: center;
}

.exercises-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: min(8rem, 50vh);
  gap: 2rem;
  max-width: 1440px;
  margin: 2rem auto;
  padding-bottom: 100px;
}

.item {
  position: relative;
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color: white;
}

.item:nth-child(even) {
  background: linear-gradient(325deg, #a855f7 0%, #db2777 100%);
}

.item:nth-child(odd) {
  background: linear-gradient(325deg, #a855f7 0%, #6366f1 100%);
}
/*
.item::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  transform: rotate(-6deg);
  border-radius: 20px;
}
*/
